@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.navbarMain {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.threee-circles-wrapper {
    position: fixed;
    width: 50%;
    z-index: 9999;
    top: 30%;
    left: 45%;
    background-color: transparent;
}

.gradient-border-button {
    text-align: center;
    border: none;
    outline: none;
    @apply bg-rose-500;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.gradient-border-button::before {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(124deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3);
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: move 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.gradient-border-button:hover::before {
    opacity: 1;
}

.gradient-border-button::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right, rgb(99, 56, 199) 20%, rgba(80, 53, 255, 1) 80%); */
    @apply bg-rose-500;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Tailwind Styles */

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}