@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.navbarMain {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.threee-circles-wrapper {
    position: fixed;
    width: 50%;
    z-index: 9999;
    top: 30%;
    left: 45%;
    background-color: transparent;
}

/* Tailwind Styles */

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}